* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#carsCarousel {
  border-bottom: solid 5px orange;
}

#footer {
  background-color: rgb(0, 0, 0);
  height: 8.4rem;
  border-top: solid 5px orange;
}

#navBar {
  background-color: rgb(0, 0, 0);
  height: 3.7rem;
  border-bottom: solid 5px orange;
}

#welcomeTitle {
  margin-left: 15%;
}

#filterBtn {
  background-color: orange !important;
  color: white !important;
  width: 100%;
}
#filterBtn:hover {
  background-color: rgb(223, 155, 30) !important;
}

#currencyTypeBtn {
  width: 100%;
}

#filterContainer {
  border: solid 1px rgb(238, 236, 236);
  background-color: rgb(243, 243, 243);
}

.imgCarContainer {
  padding: 5px;
  border: solid 1px, rgb(236, 236, 236);
  position: relative;
}

#new {
  position: absolute;
  background-color: orange;
  color: white;
  font-size: small;
  top: 15px;
  left: 15px;
  border: solid 1px orange;
  border-radius: 4px;
  width: 15%;
  text-align: center;
}

.imgCar {
  width: 100%;
  height: auto;
}

.indexImg {
  height: 36vw;
  object-fit: cover;
}

.yearPriceRating {
  position: absolute;
  right: 0;
}

.checked,
.empty {
  color: orange;
}

.cardContainer {
  position: relative;
  margin-bottom: 20px;
}

.btn-outline-secondary {
  color: black !important;
}
